################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pathogen/FileContentIndex/08696914-9b28-4b79-9bdf-3086a09875e0.vsidx
/.vs/Pathogen/FileContentIndex/41d7eafa-1abd-41a4-b07b-92c68cca813d.vsidx
/.gitignore
