################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pathogen/FileContentIndex/97ad49d5-93e0-4817-a5b9-22eed3f5e758.vsidx
/.vs/Pathogen/FileContentIndex
/.vs/slnx.sqlite
